html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items:center;
    width: calc(100%);
    padding-top: 15px;
}

.product{

    width: 230px;
    margin:5px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
}

.image{
    width: 214px;
    margin: 8px;
    background-color: rgb(216, 216, 216);
    overflow: hidden;

}

.productname{
    text-align: center;
    font-size: 15pt;
    margin:2.5px;
    
}
.producer{
    text-align: center;
    font-size: 10pt;
    margin:2.5px;

}

.price{
    text-align: center;
    font-size: 12pt;
    margin:2.5px;
    color: rgb(82, 82, 82);
}
.price1{
    text-decoration: line-through;
    display: inline;
}
.newprice{
    color: rgb(7, 128, 7);
    font-size: 14pt;
    display: inline;
}


.buy{
    text-align: center;
    margin:2.5px;
}

.wishlist{
    text-align: center;
    margin:2.5px;
    margin-bottom: 8px;

}

.btnpersonal{
    width: 214px;
}

#dheader{
    width: 100%;
    background-color: rgb(247, 247, 247);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    position: fixed;
    z-index:11;
    top:0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.09);

    


}


.signinout{
    width:100px;
}

#main{
    display: flex;
    align-items:flex-start;
    margin-top: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}

#category{
    display: inline-block;
    width: 350px;
    
    padding: 3px;
}
.categorya{
    overflow: auto;
    max-height: 900px;
    padding: 3px;
    border-bottom:0.5px solid rgb(167, 167, 167);


}
footer{
    width: 100%;
    height: 127px;
    background-color: rgb(182, 182, 182);
    padding:10px;
    margin-top:20px;
}

.kfilter{
    width: 100%;
    border:0.5px solid rgb(167, 167, 167);
    padding: 10px;
    
}

.kfilterhead{
    width:100%;
    font-size: 19px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 5px;
}

.btnfilter{
    width: 100%;
    margin-bottom: 5px; 
    margin-top: 5px; 
}

#headlogo{
    font-size: 24pt;
    width: 400px;
    padding-left: 30px;
}
#headsearch{
    padding: 5px;
    width:410px;
    padding-left:70px;
}

#headdynamic{
    text-align: right;
    width: 490px;

}
#hsearch{
    height: 30px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    padding-left: 4px;
    border : 1.2px rgb(148, 148, 148) solid;
    border-radius: 4px;
    padding-right: 30px;
    margin: 0;

}

#hsearch:focus{
    outline: none;
    border : 1.2px rgb(47, 218, 161) solid;
    background-color: white;
}

#hsearchbutton{
    margin: 0;
    margin-left: -30px;
    height: 30px;
    width: 30px;
    
    border : 1px rgb(148, 148, 148) solid;
    border-radius: 4px;
}
#hsearchbutton:focus{
    outline: none;
    border : 1.2px rgb(47, 218, 161) solid;

}


.imgproduct{
    transition: transform .2s;
}


.imgproduct:hover{
    transform: scale(1.05);
}
#searchimg{
    height: 19px;
    opacity: 0.75;
}

#publicnotify{
    display: none;
    position: fixed;
    right: 20px;
    top: 110px;
    width:200px;
    padding: 10px;
    text-align: center;
    transition-duration: 5s;
    background-color: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
    font-size: 14pt;
    z-index:12;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

#dropdown{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 304px;
    border : 1.2px rgb(148, 148, 148) solid;
    border-radius: 0.4px;
    padding: 1px;
}
.ddinner{
    padding: 1px;
    padding-left: 3px;
}
.ddinner:hover{
    background-color: rgb(231, 231, 231);
}
#headsearch1:hover #dropdown{
    display: block;
}
#headsearch1:hover #hsearchbutton{
    outline: none;
    border : 1.2px rgb(47, 218, 161) solid;
}
#headsearch1:hover #hsearch{
    outline: none;
    border : 1.2px rgb(47, 218, 161) solid;
}
#heros{
    display: inline-block;
    font-weight: 1000;
    font-size:30pt;
    color: rgb(230, 21, 21) ;
    text-shadow: 3px 3px 0.5px #1fc8db98;
}
.innerproduct:hover{
    cursor: pointer;
}