html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    
}

#headlogo{
    font-size: 24pt;
    width: 410px;
    padding-left: 30px;
}
#headsearch{
    width: 410px;
    padding: 5px;
    padding-left:70px;
}

#headdynamic{
    text-align: right;
    width: 475px;

}
#hsearch{
    height: 30px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    padding-left: 4px;
    border : 1.2px rgb(148, 148, 148) solid;
    border-radius: 4px;
    padding-right: 30px;
    margin: 0;

}

#hsearch:focus{
    outline: none;
    border : 1.2px rgb(47, 218, 161) solid;
    background-color: white;
}

#hsearchbutton{
    margin: 0;
    margin-left: -30px;
    height: 30px;
    width: 30px;
    
    border : 1px rgb(148, 148, 148) solid;
    border-radius: 4px;
}
#hsearchbutton:focus{
    outline: none;
    border : 1.2px rgb(47, 218, 161) solid;

}
#searchimg{
    height: 19px;
    opacity: 0.75;
}

#dropdown{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 304px;
    border : 1.2px rgb(148, 148, 148) solid;
    border-radius: 0.4px;
    padding: 1px;
}
.ddinner{
    padding: 1px;
    padding-left: 3px;
}
.ddinner:hover{
    background-color: rgb(231, 231, 231);
}
#headsearch1:hover #dropdown{
    display: block;
}
#headsearch1:hover #hsearchbutton{
    outline: none;
    border : 1.2px rgb(47, 218, 161) solid;
}
#headsearch1:hover #hsearch{
    outline: none;
    border : 1.2px rgb(47, 218, 161) solid;
}
#dheader{
    width: 100%;
    background-color: rgb(247, 247, 247);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    position: fixed;
    z-index:11;
    top:0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.09);
}

#container{
    display: flex;
    margin-top:100px;
}
#cimage{
    width:60%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    justify-content:center;
}
#ccontent{
    border-left: 1px solid rgb(161, 161, 161);
    width:40%;
    padding: 15px;

}
.pimage{
    height: 493px;
    width:367px;
    background-color: rgb(197, 197, 197);
    margin: 10px;
    overflow: hidden;
    
}
.pimg{
    transition: transform .2s;
}
.pimg:hover{
    transform: scale(1.05);

}

#pname{
    font-size: 21pt;
    font-weight: 600;
}
#pcompany{
    font-size: 16pt;
    color: rgb(112, 112, 112);
    border-bottom: 1px rgb(161, 161, 161) solid;
    margin-bottom: 10px;
    font-weight: 400;
}
#pprice{
    font-size: 26pt;
    margin-top:20px;
    color: black;
}
#ppriceori{
    font-size: 15pt;
    color: rgb(73, 73, 73);
    text-decoration: line-through;
}
#ppricedis{
    font-size: 15pt;
    color: rgb(73, 73, 73);
}

.pbtn{
    margin-top: 45px;
    font-size: 17pt;
    width:200px;
    margin-bottom: 45px;
}

.psize{
    border-radius: 25px;
    height: 50px;
    width: 50px;
    margin:3px; 
    margin-top:10px;
}

#psizeh{
    margin-top:20px;
    font-size: 17px;
    font-weight: 600;

}

#pdiscriptionh{
    font-size: 17px;
    font-weight: 600;

}
#pdiscriptionb{
    text-align: justify;
    margin-top: 10px;
}

#ginfo{
    margin-top:50px;
    color: rgb(80, 80, 80);
}

#heros{
    display: inline-block;
    font-weight: 1000;
    font-size:30pt;
    color: rgb(230, 21, 21) ;
    text-shadow: 3px 3px 0.5px #1fc8db98;
}
#publicnotify{
    display: none;
    position: fixed;
    right: 20px;
    top: 110px;
    width:200px;
    padding: 10px;
    text-align: center;
    transition-duration: 5s;
    background-color: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
    font-size: 14pt;
    z-index:12;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}